.results {
  &__wrap {
    @include setFlex(column, center, center);
    width: 100%;
    min-height: 43vh;

    h1 {
      font-size: 4rem;
      text-align: center;
      color: $c-text-main;
      text-shadow: 0px 0px 10px $c-text-second;
    }
  }
  &__title {
    text-align: center;
    width: 100%;
    margin: 10rem 0 1rem 0;
    h2 {
      display: inline;
      margin: 0;
      font-size: 2.5rem;
      color: $c-text-main;
      text-shadow: 0px 0px 10px $c-text-second;
      vertical-align: middle;
    }
  }
  &__info {
    display: inline-block;
    position: relative;
    left: 1rem;
    bottom: 1rem;
    vertical-align: top;
    transition: 0.1s transform linear;

    > img {
      width: 3rem;
    }

    &::after {
      display: none;
    }

    &:hover {
      cursor: pointer;
      transform: scale(1.2);

      &::before {
        content: "";
        position: absolute;
        left: 9rem;
        bottom: 7rem;
        width: 21rem;
        height: 15rem;
        z-index: 10;
        font-size: 1.2rem;
      }

      &::after {
        content: "";
        display: inline-block;
        position: absolute;
        bottom: -1rem;
        left: 4rem;
        background-image: url("../../../images/cloud.svg");
        width: 31rem;
        height: 31rem;
        background-size: 31rem 31rem;
        color: black;
        font-size: 1.2rem;
      }
    }
  }
  @include createInfoClasses($contents);
}

.item {
  &__wrap {
    @include setFlex(row, space-evenly, center);
    width: 100%;
    height: 30rem;
  }
  &__content {
    display: inline-block;
    width: 80%;
    height: 100%;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px $c-bckg-second;
  }
  &__arrow {
    display: inline-block;
    height: 5em;

    img {
      width: 100%;
      height: 100%;
      transition: transform 0.2s linear;

      &:hover {
        cursor: pointer;
        transform: scale(1.2);
      }
    }
  }
}

.aqi {
  &__wrap {
    left: 0;
    position: relative;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 10rem;
    height: 100%;
    background-color: transparent;
    transition: 0.2s left ease-in-out;
  }
  &__value {
    height: 20%;
    width: 100%;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
  }
  &__content {
    @include setFlex(row, center, flex-end);
    height: 50%;
    background-color: $c-bckg-second;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
  &__bar {
    width: 3rem;
    max-height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  &__day {
    @include setFlex(row, center, center);
    height: 10%;
    font-weight: 400;
    font-size: 1.6rem;
  }
  &__time {
    @include setFlex(row, center, center);
    height: 10%;
    font-weight: 600;
    font-size: 2rem;
  }
}

.pm10,
.pm25,
.o3,
.so2,
.no2,
.co {
  &__wrap {
    @extend .aqi__wrap;
  }
  &__value {
    @extend .aqi__value;
  }
  &__content {
    @extend .aqi__content;
  }
  &__bar {
    @extend .aqi__bar;
  }
  &__day {
    @extend .aqi__day;
  }
  &__time {
    @extend .aqi__time;
  }
}

@media only screen and (max-width: 1024px) {
  .results {
    &__info {
      &:hover {
        &::before {
          left: -26rem;
        }
        &::after {
          position: absolute;
          left: 0rem;
          transform: translate(-100%) scaleX(-1);
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .results {
    &__info {
      &:hover {
        &::before {
          width: 21rem;
          height: 15rem;
          left: -11.5rem;
          bottom: 5.5rem;
          font-size: 1.2rem;
        }
        &::after {
          position: absolute;
          left: 13rem;
          bottom: 1rem;
          background-image: url("../../../images/cloud2.svg");
          width: 29rem;
          height: 29rem;
          background-size: 29rem 29rem;
          transform: translate(-100%) scaleX(-1);
        }
      }
    }
  }

  .item {
    &__wrap {
      height: 26rem;
    }
  }

  .aqi {
    &__wrap {
      width: 8.5rem;
    }

    &__time {
      font-size: 1.8rem;
    }

    &__day {
      font-size: 1.4rem;
    }
  }
}

@media only screen and (max-width: 480px) {
  .results {
    &__wrap {
      h1 {
        font-size: 3rem;
      }
    }
  }

  .item {
    &__wrap {
      height: 22rem;
    }

    &__arrow {
      height: 4rem;
    }
  }

  .aqi {
    &__wrap {
      width: 7rem;
    }

    &__time {
      font-size: 1.6rem;
    }

    &__day {
      font-size: 1.2rem;
    }
  }
}
