.searchBar{
    &__wrap{
        @include setFlex(column, center, center);
        width: 100%;
        height: 22vh;
        min-height: 14rem;
        color: $c-text-main;
        text-shadow: 0px 0px 10px $c-text-second;

        h2{
            margin: 1rem 0 2rem 0;
            font-size: 3.5rem;
        }
    }

    &__form{
        @include setFlex(column, space-around, center);
        width: 100%;
        height: 10rem;
        color: white;

        input[type="text"]{
            width: 50%;
            height: 2.5rem;
            background-color: white;
            font-weight: 600;
        border: none;
            border-radius: 3px;
            outline: none;
            box-shadow: 0px 0px 10px $c-text-second, inset 0 -10px 10px -10px $c-text-second;
        }
        
        button{
            background-color: white;
            width: 15%;
            height: 2.5rem;
            border: none;
            border-radius: 5px;
            transition:  0.1s transform linear;
            box-shadow: 0px 0px 10px $c-text-second, inset 0 -10px 10px -10px $c-text-second;
            font-weight: 600;

            &:hover{
                cursor: pointer;
                transform: scale(1.1);
            }
        }
    }
}